.msg-container {
  margin-top: 20px;
  background-color: dodgerblue;
  border-radius: 10px;
  transition: 0.5s all;
}
.msg-content {
  display: flex;
  align-items: center;
  .msg-img {
    width: 70px;
  }
}
.msg-containers {
  background-color: tomato;
}
